node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store



client/web-build
client/web-build/*
client/node_modules/**/*
client/.expo
client/.expo/*
.vscode/

client_react/.expo-shared/
client_react/.expo/
client_react/node_modules/
core/.env
core/node_modules/
