node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store



client/web-build
client/web-build/*
client/node_modules/**/*
client/.expo
client/.expo/*
.vscode/
